.main {
  background-color: #ebebeb;
  padding: 75px;
  min-height: 25vmax;
  @include mob {
    padding: 30px 0;
  }

  &-page {
    display: flex;
    justify-content: space-between;
    @include tab {
      display: block;
      padding: 20px;
      text-align: center;
    }

    &-text {
      max-width: 600px;
      @include tab {
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
      }

      &-title {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 32px;
      }

      &-par {
        font-weight: 400;
        font-size: 20px;
        line-height: 31px;
      }
    }
  }
}

.title-wrapper {
  font-size: 0;
  margin-bottom: 10px;
}

.note {
  display: flex;
  width: 100%;
  padding: 17px 16px;
  background-color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  border-radius: 16px;
  margin-bottom: 10px;
  @include mob {
    display: block;
    text-align: center;
    margin: 0 auto 20px;
    width: 90%;
    padding: 10px 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-text {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    width: 70%;
    word-break: break-all;
    @include mob {
      display: block;
      width: 90%;
      margin: 0 auto 15px;
    }
  }

  &-title {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    padding-left: 15px;
    width: 30%;
    word-break: break-all;
    @include mob {
      display: block;
      width: 100%;
      padding: 0;
      margin-bottom: 15px;
    }
  }

  &-status {
    display: inline-block;
    width: 10%;
    text-align: center;
    margin: 0 30px;
    color: #fc4040;
    @include mob {
      display: block;
      width: 40%;
      margin: 0 auto;
      margin-bottom: 15px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.empty-list {
  &-title {
    font-weight: 600;
    font-size: 35px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 24px;
    @include mob {
      padding-top: 50px;
    }
  }
  &-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    @include mob {
      padding-bottom: 50px;
    }
  }
}

.done {
  color: #7dcc19;
}
