.notification{
    &-modal{
        width: 310px;
        height: 70px;
        padding: 10px;
    }
    &-title{
        font-size: 26px;
        margin-bottom: 20px;
    }
    &-bnt-wrapper{
        display: flex;
        justify-content: end;
    }
}

