.btn-img {

  &-arrow {
    width: 20px;
    height: 17px;
    
  }

  &-note {
    width: 26px;
    height: 29px;
  }

  &-login{
    width: 26px;
    height: 29px;
  }

  &-edit{
    width: 20px;
    height: 20px;
  }

  &-remove{
    width: 20px;
    height: 20px;
  }
}


.main-page-img{
  width: 600px;
  height: 225px;
  @include tab{
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  @include mob {
    object-fit: contain;
  }
}